<div class="w-full mx-auto px-4 py-8">
  <div *ngIf="note" class="bg-white rounded-lg shadow-md overflow-hidden">
    <!-- Header Section -->
    <header class="bg-indigo-600 px-6 py-4 rounded-lg shadow-md">
      <h2 class="text-3xl font-semibold text-white">{{ note.title }}</h2>
      <div class="flex items-center mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-gray-300 mr-1">
          <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM8 12a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1zm1-5a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd" />
        </svg>
        <p class="text-gray-300 mt-3 text-sm">{{ note.createdAt | date }}</p>
      </div>
    </header>


    <!-- Main Content -->
    <div class="p-2" [innerHTML]="sanitizedContent">
    </div>

    <!-- Footer Section -->
    <footer class="bg-gray-100 px-6 py-4 flex justify-between items-center">
      <div>
        <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded-lg focus:outline-none"
                (click)="goBack()">
          Back
        </button>
      </div>
    </footer>
  </div>
</div>
